body {
    --kro-slider-knob-color: var(--kro-primary);
}

.kro-surface {
    --kro-slider-track-color: var(--kro-divider);
}

.kro-textfield__pseudo-label,
.kro-select__pseudo-label {
    background: var(--kro-background-secondary) !important;
}

.kro-theme__default-abyss {
    .kro-button--is-icon-button {
        border: 1px solid var(--kro-divider);
        // .kro-squircle {
        //     stroke-width: 12px;
        //     stroke: var(--kro-divider);
        //     stroke-linecap: round;
        //     stroke-linejoin: round;
        // }
    }
}