body {
    --kro-slider-knob-color: var(--kro-primary);
}

.kro-surface {
    --kro-slider-track-color: var(--kro-divider);
}

.kro-textfield__pseudo-label,
.kro-select__pseudo-label {
    background: var(--kro-background-secondary) !important;
}